form{
    border: solid 1px;
    width: 500px;
    padding-left: 15px;
    padding-bottom: 6px;
    margin-left: 200px;
    background li: azure; 
    border-radius: 0% 0% 0% 0% ;
}
h1{
    font-size: 40px;
    text-align: center;
    color: palevioletred;
    
}
p{
    font-size: 20px;
    font-weight: bold;
    color: darkmagenta;
}
label{
    font-size: 15px;
    color: brown;
    font-weight: bold;
}
input{
    height: 25px;
    width: 350px;
}
textarea{
    height: 50px;
    width: 340px;
}
button{
    height: 30px;
    width: 100px;
    background-color: brown;
    color: white;
    font-size: 25px;
    border-radius: 15px;
} 
button:hover{
    background-color: green;
}